body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ABAEDA;
    
}
header {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 10px ;
}
.project-images :hover{
    width: 500px;
    height: 500px;

}
.certi{
  border: 5px double black;
  border-radius: 20px;
   
}

nav ul {
    list-style: none;
    padding: 0;
}
nav li:hover{
    background-color: black;
    color: white;
    font-size: 35px;
    font-style: italic;
}
nav li {
    display: inline;
    margin: 0 15px;
}
ul li a:active{
    color: red;

}
nav li img{
    border-bottom-right-radius: 3px;
    margin-top: -25px;
}

nav a {
    text-decoration: none;
    color: white;
}
.section {
    padding: 50px 0;
    text-align: center;
}
.myimg{
    border: 3px solid black;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    float: right;

    clear: both; 
} 
 .myimg:hover{
    width:300px;
    height: 300px;
    /* border-top-right-radius: 30px;  */
    float:right;
    margin-bottom: 70px;
    border-radius: 100%;
} */
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.self{
    border-style: none;
    border: 3px solid black transparent;
    border-spacing: 4px;

}
.project-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    background-color: grey;
}
[type="password"]:focus{
    color:burlywood;
    background-color: chocolate;

}
[type="email"],[type="password"]:hover{
    background-color:yellowgreen;
    /* background-color: chocolate; */

}
input[type="radio"]:focus{
    width: 20px;
    height:20px;

}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #212529;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
div{
    bottom: 250px;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.one{
    display: flex;
    justify-content: center;
    align-content: center;
}




